.container{
    width: 1170px;
    height: auto;
    margin: auto;
}
.container .header{
    width: 1170px;
    height: 200px;
    background-color: blueviolet;
}
.container .contentrow{
    width: 1170px;
    height: auto;
}
.container .contentrow .content1{
    width: 300px;
    height: 200px;
    background-color: brown;
    float: left;
}
.container .contentrow .content2{
    width: 420px;
    height: 200px;
    background-color: aqua;
    float: left;
}
.container .contentrow .content3{
    width: 450px;
    height: 200px;
    background-color: pink;
    float: left;
}