.container{
  margin: auto;
  width: 1170px;
  height: auto;
}
.header{
  width: 100%;
  height: 300px;
  background-color: lightblue;
}
.navbar ul{
  padding-top: 12px;
  list-style-type: none;
}
.navbar ul li a{
  text-align: center;
  text-decoration: none;
  float: left;
  margin-right: 16px;
  font-family: arial;
  font-weight: 700;
  color: black;
}
.navbar p{
  margin-top: 24px;
text-align: center;
}